@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap");
#background {
	height: 100vh;
}

* {
	color: white;
}

body {
	margin-left: 0;
}
body {
	margin-bottom: 0;
}
.h1-high {
	color: #1a237e;
}
body {
	margin-right: 0;
}
font-weight-bold-text,
.h1-high {
	--start-color: #ff4d4d;
}
#background {
	width: 100vw;
}
.h1-high,
font-weight-bold-text {
	--end-color: #f9cb28;
}
body {
	margin-top: 0;
}
.h1-high,
font-weight-bold-text {
	--start-color-2: #7928ca;
}
.h1-high,
font-weight-bold-text {
	--end-color-2: #ff0080;
}
body {
	font-family: "Merriweather", Georgia, serif;
}
.h1-high,
font-weight-bold-text {
	-webkit-background-clip: text;
}
body {
	font-weight: 600;
}
body {
	background: #000;
}
body {
	color: #000;
}
font-weight-bold-text {
	color: #1a237e;
}
.h1-high,
font-weight-bold-text {
	-webkit-text-fill-color: transparent;
}
font-weight-bold-text,
.h1-high {
	background-image: linear-gradient(
		-45deg,
		#007cf0,
		#008b87,
		var(--start-color-2),
		var(--end-color-2),
		var(--start-color),
		var(--end-color)
	);
}
.h1-high,
font-weight-bold-text {
	animation: gradient 5s ease-in-out infinite;
}
#background {
	display: grid;
}
font-weight-bold-text,
.h1-high {
	background-size: 400% 400%;
}
.h1-high,
font-weight-bold-text {
	font-size: 28px;
}
#background {
	justify-items: center;
}
#background {
	align-items: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.wrapper {
	max-width: 800px;
}
a {
	color: #8AA9E1;
}
.wrapper {
	padding-left: 2.5rem;
}
a:hover {
	text-decoration: underline;
}
a {
	text-decoration: none;
}
.wrapper {
	padding-bottom: 2.5rem;
}
.wrapper {
	padding-right: 2.5rem;
}
noscript {
	color: WHITE;
}
.wrapper {
	padding-top: 2.5rem;
}
::selection {
	background-color: #fff;
}
::selection {
	color: #000;
}
[class~="about-one-liner"] {
	margin-top: 2rem;
}
[class~="about-one-liner"] {
	margin-bottom: 0;
}
[class~="h1-tag"] {
	font-weight: 700;
}
[class~="h1-tag"],
[class~="about-one-liner"]:first-of-type {
	margin-top: 0;
}
[class~="socials-list"] {
	font-family: "Fira Code", monospace;
}
[class~="socials-list"] {
	font-size: 0.875rem;
}
[class~="li-element"] {
	opacity: 0.5;
}
[class~="font-weight-bold-text"] {
	font-weight: bold;
}